#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/8c2a2432-0eea-452d-b863-48800559e108 # baseUri: https://mocksvc.mulesoft.com/mocks/729049e5-b77e-45cb-ac06-6c36d0732e11 # 
title: Salesforce-Connect-SC
version: 2.2
mediaType: application/json
securitySchemes: 
  basic:
    type:  Basic Authentication

types: 
  accountInfo:
    properties: 
      AccountName:
        description: This is the name of the Company of the new account
        type: string
        required: true
      ParentAccount:
        description: The name of the parent account that the new Company stems from
        type: string
        required: false
      Phone:
        description: Phone number of the Company of the new account
        type: string
        required: true
      Fax:
        description: Fax number of the Company
        type: string
        required: false
      Industry:
        description: the category in which the Company falls under. ex) technology
        type: string
        required: true
      State:
        description: State in which the Company of the new account resides
        type: string
        required: true 
      Description:
        description: a brief description of the Company
        type: string
        required: true

/accounts:
  description: Retrieves all of the Company accounts
  get:
    securedBy: [basic]
    queryParameters:
      Name:
        description: "Company Name"
        required: false
        type: string
      Phone:
        description: "Company Phone Number"
        required: false
        type: string
      State:
        description: "State where company resides"
        required: false
        type: string
      AccountType:
        enum: [Customer - Direct, Customer - Channel]
        required: false
    responses: 
      200:
        body: 
          application/json:
            example: |
          
              {
                "Account Name": "Edge Communications",
                "Parent Account": " ",
                "Account Number": "CD451796",
                "Phone": "(512)757-6000",
                "Fax": "(512)757-9000",
                "Website": "http://edgecomm.com",
                "Industry": "Electronics",
                "Billing State": "TX",
                "Description": "Edge, founded in 1998, is a start-up based in Austin, TX. The company designs and manufactures a device to convert music from one digital format to another. Edge sells its product through retailers and its own website."
              }
  post:
      securedBy: [basic]
      body: 
        type: accountInfo
        example: |
            {
            "AccountName": "Steven's Company",
            "ParentAccount": " ",
            "Phone": "303-123-4567",
            "Fax": "303-123-4568",
            "Industry": "Technology",
            "State": "CO",
            "Description": "Steven's Company specializes gaming technology."
            }
      responses: 
        201:
          body: 
            description: Successfully created a new company account.
               


  /{id}:
    get:
      securedBy: [basic]
      responses: 
        200:
          body: 
            plain/text:
              example: "A single account has been retrieved"
            application/json:
              example: |
                {
                  "Account Name": "Edge Communications",
                "Parent Account": " ",
                "Account Number": "CD451796",
                "Phone": "(512)757-6000",
                "Fax": "(512)757-9000",
                "Website": "http://edgecomm.com",
                "Industry": "Electronics",
                "Billing State": "TX",
                "Description": "Edge, founded in 1998, is a start-up based in Austin, TX. The company designs and manufactures a device to convert music from one digital format to another. Edge sells its product through retailers and its own website."
                }
    
    put:
      securedBy: [basic]
      responses: 
        200:
          body: 
            application/json:
              example: |
                "The account has been updated"
    delete:
      securedBy: [basic]
      responses: 
        200:
          body: 
            application/json:
              example: |
                { "success":true, "message": "Account deleted" }  
            
                
  
